button {
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    display: block;
    border-radius: 15px;
    margin: auto;
    background-color: black;
    color: white;
    transition: o.5s;
}

input {
    font-size: 18px;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
}