body {
    background: url("../images/stars.jpg");
    background-size: cover;
    text-align: center;
    padding: 60px;
    line-height: 40px;
    margin: 5px;
}

h1 {
    font-family: 'Jua', sans-serif;
    color: whitesmoke;
    font-size: 100px;
}
h2 {
    font-family: 'Jua', sans-serif;
    color: whitesmoke;
    font-size: 45px;
}

.task-item {
    font-family: 'Gloria Hallelujah', cursive;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}

ul, li {
    text-align: center;
}

.input {
    font-family: 'Jua', sans-serif;
    padding: 10px;
    margin: 30px;
    font-size: 25px;
}
/* .btn {
    margin: 5px;
} */



