body {
    background: url("../images/chalkboard.png");
    background-size: cover;
    overflow: scroll;
    text-align: center;
    padding: 60px;
    line-height: 40px;
}

h1 {
    font-family: 'Jua', sans-serif;
    color: whitesmoke;
    font-size: 100px;
}